header {
  display: flex;
  justify-content: space-between;
  background-color: #F2D0A4;
  color: beige;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.nav-link {
  color: beige;
  text-decoration: none;
}

.nav-link:hover {
  color: #F2D0A4;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  font-size: 12px;
  margin: 10px;
  font-weight: 600;
}

.carousel-item {
  width: 60px;
  height: 500px;
}

body {
  margin: 0;
}

/* MAIN */
/* MENU */
.menu {
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.menu-n {
  display: flex;
  align-items: safe;
  color: black;
  text-decoration: none;
  font-size: 17px;
  margin: 10px;
}

.bebidas, .comidas {
  font-size: 25px;
  margin: 15px;
}

/* LINK NOSOTROS */
.s-nosotros {
  font-size: 30px;
  padding: 10px;
}

.sn-img {
  width: 600px;
  height: 400px;
  margin-bottom: 75px;
}

@media only screen and (max-width: 500px) {
  .sn-img {
    width: 370px;
    height: 200px;
    margin-bottom: 10px;
  }
}
.sn-p {
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 70px;
  margin-top: 20px;
}

@media only screen and (max-width: 500px) {
  .sn-p {
    font-size: 15px;
    margin: 10px;
    margin-bottom: 50px;
  }
}
.grid-container-1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

@media only screen and (max-width: 500px) {
  .grid-container-1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-left: 0px;
  }
}
/* LINK UBICACION */
.p-ubicacion {
  font-size: 30px;
  padding: 10px;
}

.p-LP {
  font-size: 18px;
  margin: 10px;
}

@media only screen and (max-width: 500px) {
  .mapa {
    width: 370px;
    height: 450px;
    margin-bottom: 160px;
    margin-top: 20px;
  }
}
/* LINK MEDIOS DE PAGO */
.mp {
  font-size: 30px;
  padding: 10px;
}

.mp-img {
  width: 500px;
  height: 700px;
}

@media only screen and (max-width: 500px) {
  .mp-img {
    width: 370px;
    height: 500px;
    margin-bottom: 120px;
  }
}
/* BEBIDAS FRIAS */
.b-frias, .c-dulces, .c-salados, .b-calientes {
  font-size: 18px;
  margin-left: 20px;
}

/* BEBIDAS FRIAS */
/* COMIDAS SALADAS */
/* COMIDAS DULCES */
.productos {
  height: 150px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.productos {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}

.productos {
  transition: 2s;
}

.productos:hover {
  transform: translate(50px) scale(1);
}

.d-block {
  width: 1500px;
  height: 620px;
}

/* FOOTER */
footer {
  background-color: #F2D0A4;
  padding: 1%;
  color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creditos {
  font-size: 15px;
  text-decoration: none;
  color: beige;
}

.creditos:hover {
  color: #F2D0A4;
}

.h1-footer {
  margin-left: 12px;
}

.redes {
  margin-right: 12px;
}

.li-footer {
  color: beige;
}

.li-footer:hover {
  color: #F2D0A4;
}

/*# sourceMappingURL=main.css.map */
