@import './mixin';
@import './vars';

header{
    @include header-footer;
}

.nav-link{
    color: beige;
    text-decoration: none; 
}

.nav-link:hover{
    color: $rosa;
}

ul{
    @include display-justspacbetween;
}

li{
    list-style: none;
    @include fontsize-margin (12px, 10px);
    font-weight: 600;
}

.carousel-item{
    @include size (60px, 500px)
}

body{
    margin: 0;
}

.form{
    @include display-justcenter;
    align-items: center;
    padding: 50px;
}
.form-email{
    width: 400px;
    height: 30px;
    padding: 5px;
}

.b-email{
    background-color: white;
}

.b-email:hover{
    background-color: bisque;
}

.menu{
    font-size: 36px;
    @include display-justcenter;
}

.menu-n{
    display: flex;
    align-items: safe;
    color: black;
    text-decoration: none;
    @include fontsize-margin (17px, 10px);
}

.bebidas{
    @include fontsize-margin (25px, 15px);
}

.comidas{
    @extend .bebidas;
}

/* LINK NOSOTROS */

.s-nosotros{
    @include fontsize-padding (30px, 10px);
}

.sn-img{
    @include size (600px, 400px);
    margin-bottom: 75px;
}

@media only screen and (max-width: 500px) {
    .sn-img{
        @include size (400px, 300px);
        margin-bottom: 15px;
    }
}

.sn-p{
    @include fontsize-marginleft;
    margin-bottom: 70px;
    margin-top: 20px;
}

@media only screen and (max-width: 500px) {
    .sn-p{
        @include fontsize-margin (15px, 10px);
        margin-bottom: 50px;
    }
}

.grid-container-1{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

@media only screen and (max-width: 500px) {
    .grid-container-1 {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      margin-left: 0px;
    }
  }

/* LINK UBICACION */

.p-ubicacion{
    @include fontsize-padding (30px, 10px);
}

.p-LP{
    @include fontsize-margin (18px, 10px);
}

@media only screen and (max-width: 500px) {
    .mapa{
        @include size (370px, 450px);
        margin-bottom: 160px;
        margin-top: 20px;
    }
}

/* LINK MEDIOS DE PAGO */

.mp{
    @include fontsize-padding (30px, 10px);
}

.mp-img{
    @include size (500px, 700px);
}

@media only screen and (max-width: 500px) {
    .mp-img {
        @include size (370px, 500px);
        margin-bottom: 120px;
    }
}


.h4-p{
    font-size:12px;
    display: flex;
    justify-content: center;
    background-color: rgb(8, 19, 11);
    color: beige;
    margin: 0%;
    padding: 4px;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

@media only screen and (max-width: 500px) {
    .cards {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      margin: 30px;
      justify-content: space-around;
    }
  }

.card{
    width: 135px;
}


@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card{
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

.card{
    transition: 2s;
}

.card:hover{
    transform: translate(40px) scale(1);
}


.prod{
    padding: 30px;
    font-size: 25px;
    margin-top: 20px;
}

.cards-in{
    display: flex;
    justify-content: center;
}

.card-in:hover{
    background-color: bisque;
}

.card-in{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(82, 73, 73);
    border-radius: 10px;
    margin-left: 40px;
    padding: 5px;
    width: 170px;
}

.img-in{
    display: flex;
    justify-content: center;
    width: 135px;
}

.link-in{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}

.container-comp{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-comp{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.t-comp{
    display: flex;
    justify-content: center;
}

.texto-comp{
    background-color: rgb(250, 192, 254);
    padding: 64px;
}

.img-comp{
    width: 470px;
    height: 250px;
}





/*
.comprar{

}

.card-comp{
    border: 1px solid rgb(82, 73, 73);
    background-color: bisque;
    display: flex;
    align-items: center;
}

.img-comp{
    width: 400px;
    height: 300px;
}

.img-comp2{
    width: 400px;
    height: 300px;
    display: flex;
    justify-self: end;
}

.t-comp{
    padding: 30px;
    font-size: 25px;
    margin-top: 80px;
}
*/

.p-text{
    @include fontsize-marginleft
}

.d-block{
    @include size (1500px, 620px);
}

/* FOOTER */

footer{
    background-color: $rosa;
    padding: 1%;
    color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creditos{
    font-size: 15px;
    text-decoration: none;
    color: beige;
}

.creditos:hover{
    color: $rosa;
}


.h1-footer{
    margin-left: 12px;
}

.redes{
    margin-right: 12px;
}

.li-footer{
    color: beige;
}

.li-footer:hover{
    color: $rosa;
}
